.report {
    width: 100%;
    min-height: 100vh;
    border-radius: 40px 0 0 40px;
    padding: 40px;
    background-color: #F8F8F8;
}

.title {
    font-weight: 800;
    margin-bottom: 30px;
    font-size: 28px;
}